.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px; /* 1rem 2rem */
  background: transparent;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.tnsmart-logo-section {
  display: flex;
  align-items: center;
}

.tnsmart-logo {
  width: 65px;
  height: 65px;
  margin-right: 8px; /* 0.5rem */
}

.tnsmart-text {
  font-family: 'Protest Strike', sans-serif;
  font-style: normal;
  font-size: 36.8px; /* 2.3rem */
  line-height: 100%;
  font-weight: 300;
  color: #ffffff;
}

.about-us-text {
  font-family: 'Inter', sans-serif;
  font-size: 17.6px; /* 1.1rem */
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .top-header {
    flex-direction: row;
    align-items: center;
    padding: 16px; /* 1rem */
    margin-top: 6.4px; /* 0.4rem */
  }

  .tnsmart-logo {
    width: 50px;
    height: 50px;
    margin-right: 6.4px; /* 0.4rem */
  }

  .tnsmart-text {
    font-size: 20.8px; /* 1.3rem */
  }

  .about-us-text {
    margin-top: 8px; /* 0.5rem */
    font-size: 13.6px; /* 0.85rem */
    margin-right: 8px; /* 0.5rem */
  }
}
